<div id="scanItemModal" class="modal">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <span id="closeScanModal" class="close">&times;</span>
      <h2>Scan Item</h2>
      <form id="scanForm" action="/scan-item" method="GET">
        <label for="barcode">Scan Barcode:</label>
        <input
          type="text"
          id="barcode"
          name="barcode"
          placeholder="Scan barcode here"
          required
          autofocus
        />
      </form>
    </div>
  </div>
  </div>